server:
  port: 8081

spring:
  application:
    name: api-gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: ${auth.service.url}
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=1

            - id: menu-service
              uri: ${menu.service.url}
              predicates:
                - Path=/api/menu/**
              filters:
                - StripPrefix=1

            - id: table-order-service
              uri: ${table-order.service.url}
              predicates:
                - Path=/api/table-order-service/**
              filters:
                - StripPrefix=2

          globalcors:
            add-to-simple-url-handler-mapping: true
            cors-configurations:
              "[/**]":
                allowed-origin-patterns:
                  - "http://localhost:3000"
                  - "http://127.0.0.1:3000"
                allowed-methods: "*"
                allowed-headers: "*"
                allow-credentials: true

jwt:
  secret: "Fj93jsLk2mN7XyZ9wT1qU0oPrsVx5aKb"
  whitelist:
    - /auth/login
    - /auth/register
    - /auth/changePassword
